<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('partials/head.html') %>    
</head>

<body>

    <%- include('partials/navigation.html') %>

    <div class="container">
        <div class="text-center">
            <img class="d-block w-100" src="/img/esculture-1.png" alt="">
        </div>
    </div>

    <div class="container-fluid py-4 bg-dark px-4">
        <div class="row justify-content-around text-white text-center">
            <div class="col-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-6 text-left">
                <h3>Some title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae fuga hic voluptatem! Omnis nisi illum tempore quo temporibus possimus atque impedit assumenda unde. Optio molestias deserunt ullam perspiciatis rerum. Aliquam.</p>
            </div>
        </div>
    </div>

    <%- include('partials/footer.html') %>

    
</body>

</html>